# Node & Build
node_modules/
dist/
.vite/

# OS Files
.DS_Store
Thumbs.db

# Heavy Raw Production Renders & Uncompressed Sequences (>100MB limit on GitHub)
Product_box_*.mov
*Product_box_*.mov
*bg initial animatiton*
