# Node & Build
node_modules/
dist/
.vite/

# OS Files
.DS_Store
Thumbs.db

# Heavy Raw Production Renders & Uncompressed Sequences (>100MB limit on GitHub)
Product_box_*.mov
*Product_box_*.mov
*bg initial animatiton*
11.mov
*Wand_product_animation_sequence_*.mov
*.mov
!public/videos/*.mov
Llavero de huella amarilla en 3D.png
Varita Estrella Amarilla Brillante.png
Caja*.png
*Caja*.png
Cofre*.png
*Cofre*.png
Cubo*.png
*Cubo*.png
.vercel
